h1, h2, h3, h4, h5 {font-family: "Roboto", sans-serif;}
h2.title {
    font-weight: bold;
}
.navbar-icon {
    color: #333 ;
}
.btn-black {
    background: #000;
    color: #fff;
    border-radius: 0;
    padding: 6px 12px;
    border-radius:25px;
}
.btn { border-radius:25px;}
.btn-black:hover,
.btn-black:focus {
    color: #fff;
    background:#333;
}

.btn-create-report {
    padding: 6px 30px;
    font-size: 16px;
}
body {
    margin-bottom: 100px;
    background:#f8f8f8;
}
html {
  position: relative;
  min-height: 100%;
}
.footer {
	position:absolute;
  bottom: 0;
  margin-top:50px;
  width: 100%;
padding: 30px 0 20px 0;
  background-color: #333;
  color:#777;
}
.footer a, .footer {color:#ccc;}
.copyright {text-align:center;font-size:13px;color:#888;padding:10px 0 0 0 ;}
.panel-default {   border-color: #ddd;}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.register-btn {background:#1080F2}
.navbar-inverse, .navbar-inverse .navbar-toggle {
    border-color: #ddd;
} 
.accounts_connect_table td img {max-height: 30px;}
.accounts_connect_table td a {}
.empty-table {padding: 50px 0;
    background: #fff;
    font-size: 18px;}
.greeting-button {float:right;}
.panel-accounts h1 {font-size: 32px;
    margin-top: 5px;
    font-weight: bold;color:#333;}
.upgrade-btn {background:#1bc51b;color:#fff;border-radius: 25px;}
.upgrade-btn:hover {color:#fff;background-color:#1bc51b;}
.btn-create-report {background-color:#1080F2;}
.social-links {list-style-type:none;margin: 0;padding: 0;}
.social-links li {display:inline-block;padding:0  15px 0 0;}
.social-links li a {}
.register-btn-top {
    background: #1080F2;
    height: auto !important;
    margin: 15px 30px 0px 30px;
    padding: 9px 25px !important;
    border-radius: 25px;
    color: #fff !important;
}
.register-btn-top:hover { background: #0e66c0 !important;
    height: auto !important;
    margin-top: 15px;
    padding: 9px 25px !important;
    border-radius: 25px;
    color: #fff !important;}
    div.error {display:block;color:#f00;}