h2.title {
    font-weight: bold;
}

.btn-black {
    background: #000;
    color: #fff;
    border-radius: 0;
    padding: 6px 12px;
    text-transform: capitalize;
}

.btn-black:hover,
.btn-black:focus {
    color: #fff;
}

.btn-create-report {
    padding: 10px 45px;
    font-size: 16px;
}

.accounts_connect_table img {
    max-width: 35px;
}

.custom-readonly.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fff;
    opacity: 1;
}

.default-text-color {
    color: #1e90ff
}

.default-background-color {
    color: #fff;
    background: #1e90ff
}