.navbar-inverse .navbar-nav>li>a {
    color: #000;
    font-weight: bold;
}

.btn-primary {
    color: #fff;
    background-color: #1080F2;
    border-radius:25px;
}

.btn-link {
    color: #1080F2;
    font-weight: 400;
    border-radius: 0;
}

.btn-primary-outline {
    color: #1080F2;
    border-color: #1080F2;
   }

   .btn-primary-outline:hover { 
   	background-color: #1080F2;
   }

   .spark-settings-stacked-tabs li.active a {
    border-left: 3px solid #1080F2;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #1080F2;
    }